.about-bg {
    background-color: var(--color-11);
    box-shadow: inset 0 120px var(--color-0), inset 0 -120px var(--color-12);
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content {
    padding-top: 180px;
    padding-bottom: 180px;
}

.about h2 {
    margin-bottom: 32px;
}

.about p {
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .about-bg {
        box-shadow: inset 0 -60px var(--color-12);
    }
    .about {
        grid-template-columns: 1fr;
    }
    .about-content {
        grid-row: 1;
        padding-top: 40px;
        padding-bottom: 0px;
    }
}
