.posts-bg {
    background: linear-gradient(
        to right,
        var(--color-0) 30%,
        var(--color-11) 0%
    );
}

.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url("/img/dec/top-right.svg") no-repeat top 40px right 20px;
}

.posts-image {
    display: grid;
}

.posts-image img {
    grid-area: 1/1;
    border: 1px solid var(--color-6);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.posts-image span {
    grid-area: 1/1;
    place-self: start end;
    margin-top: 20px;
    background: var(--color-p2);
    display: inline-block;
    padding: 8px 16px 8px 8px;
    border-radius: 4px 0 0 4px;
}

.posts-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.posts h2,
.posts p {
    grid-column: 1/-1;
}

.posts h2 {
    margin-top: 20px;
}

.posts h3 {
    margin-top: 5px;
}

.posts h2::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--color-p2);
    margin-bottom: 8px;
}

.posts p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.posts a {
    place-self: end;
}

.posts li {
    display: flex;
    align-items: center;
    font-size: 1rem;        
}

.posts ul {
    display: grid;
    gap: 5px;

    a {
        font-size: 0.75rem;
    }
}

.posts-content img {
    width: 24px;
    margin-right: 8px;
}

@media (max-width: 800px) {
    .posts-bg {
        background: var(--color-11);
    }
    .posts {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .posts-content {
        grid-template-columns: 1fr;
    }
    .posts ul {
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }
    .posts a {
        place-self: start;
    }
}
