body {
    background-color: #f2f2f2 !important;

    h1 {
        font-size: 2.5rem;
        color: #030303;
        text-align: center;
    }

    img {
        max-width: 90%!important;
    }

    #particles-container {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
    }
}
