body {
  background-color: #f2f2f2 !important;
}
body h1 {
  font-size: 2.5rem;
  color: #030303;
  text-align: center;
}
body img {
  max-width: 90% !important;
}
body #particles-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
