body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

.font-1-xs {
  font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

.font-2-xs {
  font: 400 0.875rem/1.43 "Roboto", sans-serif;
}

.font-1-s {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.font-2-s {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.font-1-m,
.font-1-m-b {
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.font-1-m-b {
  font-weight: 600;
}

.font-2-m {
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
}

.font-1-l {
  font: 400 1.5rem/1.5 "Poppins", sans-serif;
}

.font-2-l,
.font-2-l-b {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
}

.font-2-l-b {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-1-xl {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}

.font-2-xl {
  font: 500 2rem/1.25 "Roboto", sans-serif;
}

.font-1-xxl {
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 3rem;
  }
  .font-2-l,
  .font-2-l-b {
    font-size: 1.125rem;
  }
}
@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 2rem;
  }
  .font-1-xl,
  .font-2-xl {
    font-size: 1.5rem;
  }
}
:root {
  --color-0: #ffffff;
  --color-1: #f7f7f7;
  --color-2: #ededed;
  --color-3: #dedede;
  --color-4: #cccccc;
  --color-5: #b2b2b2;
  --color-6: #9c9c9c;
  --color-7: #717171;
  --color-8: #595959;
  --color-9: #404040;
  --color-10: #2e2e2e;
  --color-11: #111111;
  --color-12: #030303;
  --color-p1: #386EB3;
  --color-p2: #024BA9;
  --color-p3: #024BA9;
  --color-p4: #0F4386;
  --color-p5: #0F4386;
}

.color-0 {
  color: var(--color-0);
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}

.color-5 {
  color: var(--color-5);
}

.color-6 {
  color: var(--color-6);
}

.color-7 {
  color: var(--color-7);
}

.color-8 {
  color: var(--color-8);
}

.color-9 {
  color: var(--color-9);
}

.color-10 {
  color: var(--color-10);
}

.color-11 {
  color: var(--color-11);
}

.color-12 {
  color: var(--color-12);
}

.color-p1 {
  color: var(--color-p1);
}

.color-p2 {
  color: var(--color-p2);
}

.color-p3 {
  color: var(--color-p3);
}

.color-p4 {
  color: var(--color-p4);
}

.color-p5 {
  color: var(--color-p5);
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}

.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}

.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js [data-anime] {
  opacity: 0;
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

.header-bg {
  background-color: var(--color-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header a h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-0);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--color-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.active::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--color-11);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: var(--color-10);
  }
  .header a:after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
.footer-bg {
  background-color: var(--color-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer h3 {
  margin-bottom: 32px;
}
.footer a:hover {
  color: var(--color-0);
}
.footer li {
  margin-bottom: 16px;
}

.footer-contact ul {
  margin-bottom: 32px;
}
.footer-contact ul li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--color-11);
  margin-top: 16px;
}
.footer-contact ul li {
  margin-bottom: 16px;
}

.footer-social {
  display: flex;
  gap: 32px;
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .footer-copy {
    margin-top: 0px;
  }
}
/* Uilities */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#386eb3, #024ba9);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--color-1);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: -moz-max-content;
  max-width: max-content;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(#024ba9, #0f4386);
}
.btn.secondary {
  background: var(--color-10);
  color: var(--color-2);
}
.btn.secondary:hover {
  background: var(--color-9);
}
.btn.arrow {
  display: flex;
  align-items: center;
}
.btn.arrow::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("/img/icons/arrow.svg");
  transition: transform 0.2s;
}
.btn.arrow:hover::after {
  transform: translateX(4px);
}
@media (max-width: 600px) {
  .btn {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  color: var(--color-p2);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}
.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}
.link:hover {
  color: var(--color-0);
}

.title-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-11);
}
@media (max-width: 800px) {
  .title-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.title {
  background: url("/img/dec/top-right.svg") no-repeat top right 20px;
}
.title p {
  margin-bottom: 4px;
}
@media (max-width: 800px) {
  .title p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 400 1rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.form .col-2 {
  grid-column: span 2;
}

.form input[type=text],
.form input[type=email],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--color-1);
  border: 1px solid var(--color-2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--color-p1);
  background: var(--color-0);
  box-shadow: 0 0 0 2px #fea;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
}
/**COOKIE CONSENT*/
#cookieConsent {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#cookieConsent .container {
  padding: 20px 0;
}
#cookieConsent p {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--color-0);
  font-size: 0.875rem;
  flex-basis: 100%;
}
#cookieConsent p a {
  color: var(--color-p2);
  font-weight: bold;
  text-decoration: none;
}
#cookieConsent .footer_opt_out_btn {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #F8F8FF;
  border-radius: 4px;
}
@media (max-width: 512px) {
  #cookieConsent .footer_opt_out_btn {
    width: 80%;
    margin: 0 auto !important;
  }
}
#cookieConsent .footer_opt_out_btn:first-of-type {
  background: #4CAF50;
  margin-right: 20px;
}
#cookieConsent .footer_opt_out_btn:first-of-type:hover {
  background: #45a049;
}
#cookieConsent .footer_opt_out_btn:last-of-type {
  background: #F44336;
  border-radius: 4px;
}
#cookieConsent .footer_opt_out_btn:last-of-type:hover {
  background: #e53935;
}
@media (max-width: 512px) {
  #cookieConsent .footer_opt_out_btn:last-of-type {
    margin-top: 20px !important;
  }
}

.smoothScroll-top {
  border: none;
  background: var(--color-p3);
  background-size: 200% auto;
  border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  bottom: -25px;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  height: 44px;
  line-height: 44px;
  opacity: 0;
  overflow: hidden;
  padding-top: 2px;
  position: fixed;
  right: 25px;
  text-align: center;
  transition-duration: 0.5s;
  transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  visibility: hidden;
  width: 47px;
  z-index: 999;
}
.smoothScroll-top img {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin: 0 auto;
}
.smoothScroll-top.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
  bottom: 25px;
}

/* Home */
.introduction-bg {
  background: var(--color-12) url("/img/dec/bottom-left.svg") no-repeat bottom 160px left 20px;
  box-shadow: inset 0 -120px var(--color-0);
}
@media (max-width: 800px) {
  .introduction-bg {
    background: var(--color-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.introduction img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
@media (max-width: 800px) {
  .introduction img {
    height: 300px;
    width: 100%;
  }
}
.introduction h1 {
  margin-bottom: 32px;
}
@media (max-width: 800px) {
  .introduction h1 {
    margin-bottom: 16px;
  }
}
.introduction p {
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .introduction {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.introduction-content {
  align-self: end;
  padding-bottom: 200px;
}
@media (max-width: 800px) {
  .introduction-content {
    padding-bottom: 0px;
  }
}

.about-bg {
  background-color: var(--color-12);
  box-shadow: inset 0 80px var(--color-0), inset 0 -80px var(--color-0);
}
@media (max-width: 800px) {
  .about-bg {
    box-shadow: initial;
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.about a {
  margin-bottom: 80px;
}
@media (max-width: 800px) {
  .about {
    grid-template-columns: 1fr;
  }
  .about a {
    margin-bottom: 60px;
  }
}

.about-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media (max-width: 800px) {
  .about-image img {
    display: none;
  }
}

.about-content {
  padding-top: 160px;
  padding-bottom: 160px;
}
.about-content > span {
  display: block;
  margin-bottom: 20px;
}
.about-content h2 {
  margin-bottom: 32px;
}
.about-content > p {
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .about-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.about-advantages {
  display: flex;
  gap: 40px;
}
.about-advantages h3 {
  margin-bottom: 8px;
  width: -moz-max-content;
  width: max-content;
}
.about-advantages img {
  width: 24px;
  margin-bottom: 8px;
}
@media (max-width: 600px) {
  .about-advantages {
    flex-direction: column;
  }
}

/* Courses */
.courses-list {
  padding-top: 60px;
  padding-bottom: 120px;
}
.courses-list h2 {
  margin-bottom: 40px;
}
.courses-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  justify-content: center;
  margin-bottom: 40px;
}
.courses-list li {
  flex-basis: calc(33% - 40px);
  min-width: 360px;
}
.courses-list a {
  display: block;
}
.courses-list img {
  margin-bottom: 16px;
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.courses-list h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.courses-list h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--color-p3);
  transition: width 0.2s;
}
.courses-list a:hover h3::before {
  width: 24px;
}

#course .courses-list ul {
  padding: 0px 0px 20px 0px;
}

.courses-list h3 .courses-list .courses-list li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .courses-list {
    padding-bottom: 60px;
  }
  .courses-list ul {
    gap: 20px;
  }
}
.courses-bg {
  background: linear-gradient(to right, var(--color-0) 30%, var(--color-11) 0%);
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("/img/dec/top-right.svg") no-repeat top 40px right 20px;
}

.courses-imagem {
  display: grid;
}

.courses-image img {
  grid-area: 1/1;
}

.courses-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--color-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.courses-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.courses h2,
.courses p {
  grid-column: 1/-1;
}

.courses h2 {
  margin-bottom: 20px;
}

.courses h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--color-p1);
  margin-bottom: 8px;
}

.courses p {
  margin-bottom: 32px;
}

.courses a {
  place-self: end;
}

.courses li {
  display: flex;
  align-items: center;
}

.courses ul {
  display: grid;
  gap: 16px;
}

.courses-content img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .courses-bg {
    background: var(--color-11);
  }
  .courses {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .courses-content {
    grid-template-columns: 1fr;
  }
  .courses ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .courses a {
    place-self: start;
  }
}
/* Contato */
#contact {
  background: linear-gradient(var(--color-11) 600px, var(--color-1) 0px);
}

.contact {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.contact-data,
.contact-form {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(12, 4, 4, 0.1);
}

.contact-data {
  border-radius: 5px 0 0 5px;
  background: var(--color-12) url("/img/dec/bottom-left.svg") no-repeat bottom 20px left 20px;
}

.contact-form {
  border-radius: 0 5px 5px 0;
  background: var(--color-0) url("/img/dec/bottom-right.svg") no-repeat bottom 20px right 20px;
}
.contact-form .alert-success {
  font-size: 2rem;
  font-weight: 700;
}

.contact-data h2 {
  margin-bottom: 60px;
}

.contact-address {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url("/img/icons/map.svg") no-repeat 0px 2px;
}

.contact-address p {
  margin-bottom: 8px;
}

.contact-mods a {
  display: block;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contact-mods a:hover {
  color: var(--color-0);
}

.contact-mods a:first-child {
  background: url("/img/icons/email.svg") no-repeat 0px 2px;
  margin-bottom: 32px;
}

.contact-mods a:last-child {
  background: url("/img/icons/telephone.svg") no-repeat 0px 2px;
  margin-bottom: 60px;
}

.contact-social {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

@media (max-width: 800px) {
  .contact {
    grid-template-columns: 1fr;
  }
  .contact-data,
  .contact-form {
    padding: 20px;
  }
  .contact-data {
    border-radius: 5px 5px 0 0;
    background: var(--color-12);
  }
  .contact-form {
    border-radius: 0 0 5px 5px;
  }
  .contact-data h2,
  .contact-mods a:nth-child(3) {
    margin-bottom: 32px;
  }
  .contact-social {
    margin-bottom: 12px;
  }
}
.terms {
  padding-top: 80px;
  padding-bottom: 80px;
}
.terms h2 {
  font-weight: 600;
  margin-bottom: 20px;
}
.terms p {
  margin-bottom: 24px;
}
.terms p + h2 {
  margin-top: 40px;
}
